@font-face {
    font-family: 'NunitoSans-Regular';
    font-style: normal;
    font-weight: 300;
    font-weight: 600;
    font-weight: 800;
    src: url('https://fonts.google.com/specimen/Nunito+Sans') format('truetype');
  }